:root{
    --clr-text: black;
    --clr-primary: dimgray;
    --clr-accent: darkslategray;
    --clr-background: white;
}
html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}
body{
    margin: 0;
}
img{
    display: block;
}
section{
    padding: 3em 1em;
}
h1,h2,h3,h4,p{
    margin: 0;
}
h2,h3{
    line-height: 0.8;
}
h2{
    font-size: 2rem;
}
p{
    margin-bottom: 0.85em;
}
.logo{
    font-family: cursive;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: white;
}
header{
    padding: 1em 0 2em;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
nav a{
    display: inline-block;
    padding: 0.5em;
    color: purple;
    text-decoration: none;
}
nav a:hover,nav a:focus{
    color: white;
}
.about{
    background-color: var(--clr-background);
    background-image: url(../Images/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
    padding: 15vh 0;
}
.phone{
    margin-top: 20px;
    margin-bottom: 25px;
}
.email{
    margin-top: 20px;
    margin-bottom: 25px;
}
footer{
    color: inherit;
    background-color: white;
    display: flex;
}
.products_arc{
    font-family:cursive;
}
.footer_nav{
    list-style: none;
}
.footer_nav a {
    text-decoration: none;
}
.footer_nav a:hover{
    text-decoration: none;
    color: black;
}
.footer_social{
    list-style: none;
    display: flex;
    margin-left: 90px;
}
.social_pic{
    padding: 2px;
}
@media only screen and (min-width: 750px){
   
    .footer_social{
        margin-left: 450px;
    }
}
@media only screen and (min-width: 1024px){
    .about-us, .choose_us, .service, .contact, .services_arc, .h3_services{
        margin: 0 250px 0 250px;
    }
    .footer_social{
        margin-left: 25px;
    }
    .footer_nav{
        margin-left: 600px;
    }
}