:root{
    --clr-text: black;
    --clr-primary: dimgray;
    --clr-accent: darkslategray;
    --clr-background: white;
}
html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--clr-text);
}
body{
    margin: 0;
}
img{
    display: block;
    max-width: 100%;
}
h1, 
h2,
h3,
h4,
p{
    margin: 0;
}
h2,
h3{
    line-height: 0.8;
}
h2{
    font-size: 4rem;
}
p{
    margin-bottom: 0.85em;
}
.logo{
    font-family: cursive;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: var(--clr-text)
}
header{
    padding: 1em 0 2em;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
nav a{
    display: inline-block;
    padding: 0.5em;
    color: purple;
    text-decoration: none;
}
nav a:hover,
nav a:focus{
    color: var(--clr-primary);
}
.about{
    background-color: var(--clr-background);
    background-image: url(../Images/colors.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-text);
    text-align: center;
    padding: 15vh 0;
}